body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grey-section {
  background: #425771;
  margin: 0;
  padding: 25px;
}

.section-text {
  font-family: sans-serif;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 20px;
}
.footer {
  background: #2E343D;
  padding: 50px;
}
.section {
  background: white;
  margin: 0;
  padding: 25px;
}

.grey-section-header {

}

div .header {
  margin: 0;
  padding: 20px;
  width: 100%;
  background: #2E343D;
}

.blue {
 color: #477186;
}

.red {
 color: #801515;
}



.white {
 color: white;
}
